<div class="container" ng-controller="AdDetailController">
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <h3>{{ad.name}}</h3>
            <p>{{ad.created | date: 'longDate'}}</p>
            <img ng-src="{{ad.img}}" alt="{{ad.name}} Image" height="450px">
            <hr>
            <p style="white-space:pre-wrap">{{ad.description}}</p>
            <hr>

            <blockquote ng-repeat="comment in ad.comments">
                <p>{{comment.rating}} Stars</p>
                <p>{{comment.text}}</p>
                <footer>{{comment.author.username}}, {{comment.created | date: 'longDate'}}</footer>
            </blockquote>

            <form class="form-horizontal" name="commentForm"
                  ng-submit="submitComment()" ng-controller="AdCommentController" ng-if="user!=null && user._id != ad.author._id" novalidate>
                <div class="form-group" ng-class="{ 'has-error has-feedback' : commentForm.comment.$invalid && commentForm.comment.$dirty }">
                    <label for="comment" class="col-sm-2 control-label">Your comment</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="comment" name="comment" rows="6" ng-model="comment.text" required></textarea>
                        <span ng-show="commentForm.comment.$error.required && commentForm.comment.$dirty" class="help-block">Comment field is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Your rating</label>
                    <div class="col-sm-10">
                        <label class="radio-inline" >
                            <input type="radio" ng-model="comment.rating" value="1">1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="comment.rating" value="2">2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="comment.rating" value="3">3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="comment.rating" value="4">4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="comment.rating" value="5">5
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-sm-12 col-md-2">
            <p>Продавец:</p>
            <p><strong>{{ad.author.username}}</strong></p>
            <p><strong>{{ad.author.email}}</strong></p>
            <p><strong>{{ad.author.phone}}</strong></p>
            <h3 style="text-align: center">Цена: <span class="label label-success">{{ad.price}} Грн</span></h3>
        </div>
    </div>

</div>