
    <nav class="navbar navbar-default" ng-controller="UserController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app" ui-sref-opts="{reload: true}"><img src="../images/icon.png" alt="icon" style="max-height: 100%"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form role="search" ng-controller="AdController">
                            <div class="form-group">
                                <input type="search" class="form-control" placeholder="Search" ng-model="findText" data-clear-btn="true">
                            </div>
                            <a href="#" type="submit" ng-click="find()">Search</a>
                            <!--<button type="submit" class="btn btn-default" ng-click="find()">Search</button>-->
                        </form>
                    </li>
                    <li ng-if="!user"><a ui-sref="app.login">Войти</a></li>
                    <li ng-if="!user"><a ui-sref="app.register">Регистрация</a></li>
                    <li ng-if="user"><a ui-sref="app.adEdit" class="label label-warning">Дать обьявление</a></li>
                    <li ng-if="user" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="app.profile">Профиль</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" ng-click="logout()">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

