<div class="container" ng-controller="AdController">
    <div class="row adWrapper" ng-repeat="ad in ads">
        <div class="col-xs-12 col-md-3 adImageBlock">
            <a ui-sref="app.adDetails({id:ad._id})">
                <img ng-src="{{ad.img}}" alt="{{ad.name}} Image" class="adImage">
            </a>
        </div>
        <div class="col-xs-12 col-md-9 adInfoBlock">
            <div class="row">
                <div class="col-xs-12 col-sm-10">
                    <a ui-sref="app.adDetails({id:ad._id})">
                        <h4 class="AdHeader">{{ad.name}}</h4>
                    </a>
                    {{ad.created | date: 'longDate'}}
                </div>
                <div class="col-xs-12 col-sm-2">
                    <strong class="adPrice">{{ad.price}} Грн.</strong>
                    <button class="btn-info" ng-if="user!=null && isSubscription(ad._id) && user._id != ad.author " ng-click="unsubscribe(ad._id)">Отписатся</button>
                    <button class="btn-info" ng-if="user!=null && !isSubscription(ad._id) && user._id != ad.author" ng-click="subscribe(ad._id)">Подписатся</button>
                    <button class="btn-warning" ng-if="user!=null && user._id == ad.author" ng-click="deleteAd(ad._id)">Удалить</button>
                </div>
            </div>
        </div>

    </div>
</div>