doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css")
  body
    .container
      block header
        include ../partials/header

      block content

      block footer
        include ../partials/footer
    block script
      script(src="/vendor/bower_components/jquery/dist/jquery.min.js")
      script(src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js")
      script.
        $(".logout-btn").on('click', function() {
          $.ajax({
            url: "/logout",
            method: "POST",
            statusCode: {
              200: function() {
                window.location.href = "/";
              }
            }
          });
          return false;
        });





