//
   Created by Karim on 08.05.2016.

//
   Created by Karim on 08.05.2016.

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title CourseApp

        link(rel="stylesheet", href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/index.css")
    body
        block header
            include ../partials/header

        block content

        block footer
            include ../partials/footer

        block script
            script(src="/vendor/bower_components/jquery/dist/jquery.min.js")
            script(src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js")
            script(src="/js/controllers/UserController.js")
            //script.
            //    $(".logout-btn").on('click', function() {
            //        $.ajax({
            //            url: "/logout",
            //            method: "POST",
            //            statusCode: {
            //                200: function() {
            //                    window.location.href = "/";
            //                }
            //            }
            //        });
            //        return false;
            //    });









